# ignore directories
.obsidian/
.idea/
.vscode/
__pycache__/
datfin-venv/
datfin-package/datafin/__pycache__/
datfin-package/datafin.egg-info/

# ignore env file where i'm storing api keys locally
.env
.DS_Store